section {
  display: flex;
  color: white;
  
}
body{
  background-color: black;
}
.App-header {
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
li:hover {
  opacity: 0.3;
}

.img-logo {

  height: 120px;
  cursor: pointer;


}
