section {
  display: flex;
  color: #ffffff;
}
body{
  background-color: black;
}

section h1 {
  display: flex;
  margin-right: 4rem;
  justify-content: end;
  align-items: center;
  width: 100%;
  color: white;
}

li:hover {
  opacity: 0.3;
}

.img-logo {
  position: relative;
  height: 120px;
  cursor: pointer;


}
